Source: lingmo-installer-timezones
Section: utils
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends:
    cmake (>=3.1),
    debhelper (>=9),
    gettext
Standards-Version: 4.5.0
Homepage: http://lingmo.org

Package: lingmo-installer-timezones
Architecture: all
Depends:
    ${shlibs:Depends},
    ${misc:Depends}
Description: Language package for timezone names
 Installer language package for timezone names
